<div class="p-1 border border-t-0 border-b-lime-600 flex place-items-center">
    <img class="rounded-full inline-flex mr-2" src="https://github.com/{{participant.identity}}.png?size=40" [alt]="participant.identity">
    <span class="font-bold tracking-tight text-lime-700 flex-1">{{participant.identity}}</span>
    <button (click)="toggleModal()"
            *ngIf="user===createdBy && participant.identity!==user"
            type="button" 
            class="w-8 text-white bg-red-500 rounded-full">
            X
    </button>
</div>


<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
        <!--content-->
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
            <h3 class="text-3xl text-lime-500">
            Delete Participant
            </h3>
            <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
            <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                ×
            </span>
            </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
            <p class="my-4 text-slate-500 text-lg leading-relaxed">
            Are you sure you want to delete this participant? This action cannot be undone.
            </p>
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
            <button class="bg-lime-500 text-white text-sm px-6 py-3 rounded shadow mx-2" type="button" (click)="toggleModal()">
                Close
            </button>
            <button class="bg-red-500 text-white px-6 py-3 text-sm rounded shadow mx-2" type="button" (click)="deleteParticipant(participant)">
                Delete
            </button>
        </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
