<button class="w-32 text-black bg-amber-500 hover:bg-amber-700 focus:outline-none p-2 text-center rounded"
        type="button"
        (click)="back()">
        <- Back
</button>


<h2 class="text-4xl text-center m-1 text-amber-500">{{conversation.uniqueName}}</h2>
<h2 class="text-xl text-center m-1 text-lime-500">Created by {{conversation.createdBy}}</h2>

<h4 *ngIf="participants" class="text-xl m-3 text-amber-500"> Participants {{participants.length}}</h4>

<ng-container *ngFor="let participant of participants">
    <app-participant (delete)="deleteParticipant($event)" [participant]="participant" [user]="user.name" [createdBy]="conversation.createdBy"></app-participant>
</ng-container>

<ng-container *ngIf="conversation.createdBy===user.name">
    <h4 class="text-xl m-1 text-amber-500">Add a participant</h4>
    <form (ngSubmit)="addParticipant()">
        <input class="text-center w-full p-1 border-b-2 border-b-lime-500 focus:outline-none " type="text" [formControl]="addParticipantInput" placeholder="Enter a GitHub username">
        <button class="w-full text-black bg-amber-500 hover:bg-amber-700 focus:outline-none p-2 text-center disabled:opacity-25"
                type="submit"
                [disabled]="!validGithubUsername || !validParticipant()">
                Add
        </button>
        <div *ngIf="errorGithubUsername" class="w-full text-center text-xs text-red-700">{{errorMessageGithubUsername}}</div>
        <div *ngIf="validGithubUsername" class="text-center m-1">
            <img class="rounded-full inline-flex w-16" src='https://github.com/{{addParticipantInput.value}}.png?size=64' [alt]="addParticipantInput.value">
        </div>
        <app-loader *ngIf="checkingGithubUsername"></app-loader>
    </form>
</ng-container>

<p *ngIf="errorMessage" class="text-center mt-2 text-red-500">{{errorMessage}}</p>

<ng-container *ngIf="messages">
    <h4 class="text-xl m-3 text-amber-500" *ngIf="messages"> Messages {{messages.length}}</h4>
    <div *ngIf="messages.length===0 && !loading">
        <p class="p-2 text-lime-700">No message yet.</p>
        <img class="w-1/2 mx-auto" src="../../../assets/no-conversation.svg" alt=""> 
    </div>
</ng-container>

<app-loader *ngIf="loading"></app-loader>

<section class="p-2 flex flex-col m-b-40">
    <ng-container *ngIf="messages && messages.length>0">
        <div *ngFor="let message of messages; let i=index">
            <app-message (play)="speak(message.body!)" [message]="message" [user]="user.name" [lastMessageAuthor]="i>0 ? messages[i-1].author : ''"></app-message>
        </div>
    </ng-container>

    
    <form (ngSubmit)="sendMessage()">
        <div class="flex border-b-2 border-b-lime-500">
            <button type="button" class="bg-white text-xl" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">{{!isEmojiPickerVisible ? '😀' : '⌨️' }}</button>
            <input type="text" [formControl]="messageInput" class="text-center w-full p-1 focus:outline-none " placeholder="message..." required/>
        </div>
        <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
        <button (click)="sendMessage()" 
            type="button" 
            class="w-full text-black bg-amber-500 hover:bg-amber-700 focus:outline-none p-2 text-center disabled:opacity-25">
            Send
        </button>
    </form>  
    
</section>


